@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600,700,800,900&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  padding: 1em;
  background-size: cover;
  background-color: #fff;
  text-decoration: none;
  color: rgb(134, 134, 134);
}

.active {
  background-color: #4c7a94;
  color: #FFF;
}

h4 {
  margin: .5em 0;
}

button {
  width: 5em;
  height: 2em;
  border-style: none;
  border-radius: .3em;
  margin-left: .5em;
  color: #fff;
  background-color: #4c7a94;
}

.ProductsPage__div-image_preview {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 48%;
  height: 100%;
  border-radius: .5em;
  box-shadow: inset 0 0 10px #AAAAAA90;
}