@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600,700,800,900&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  padding: 1em;
  background-size: cover;
  background-color: #fff;
  text-decoration: none;
  color: rgb(134, 134, 134);
}

.active {
  background-color: #4c7a94;
  color: #FFF;
}

button {
  width: 5em;
  height: 2em;
  border-style: none;
  border-radius: .3em;
  margin-left: .5em;
  color: #fff;
  background-color: #4c7a94;
}

.productspage-image_upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 1em;
  margin: 1em 0;
}

.productspage-image_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8em;
}

.productspage-image_input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%;
  height: 100%;
  border: .5em dashed #ccc;
  background-color: #eee;
}

.productspage-image_input input {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  filter: opacity(0);
}

.productspage-image_preview {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 48%;
  height: 100%;
  box-shadow: inset 0 0 10px #AAAAAA90;
}

.productspage-card_container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.productspage-card_image {
  width: 100%;
  height: 15em;
}

.productspage-card_info {
  padding: 1em;
  color: #333;
}

.productspage-card_info h5 {
  margin: .3em 0;
}